body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-button-png {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}
.score {
  margin-top: 60px;
}

.reset-button,
.autoPlay-button {
  background-color: white;
  font-size: 15px;
  border: none;
  padding: 10px 15px;
}
